* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* Start CSS for Navbar */
nav {
  display: flex;
  background-color: #f8f8f8;
  height: 50px;
  align-items: center;
}

.main-logo {
  height: 100px;
}

.main-logo__horizontal {
  display: none;
}

.main-logo--maria {
  display: flex;
  align-items: flex-end;
  list-style: none;
  justify-content: center;
  background-color: #ff5959;
  width: 80px;
  height: 130px;
  margin: 0 2px;
}

.main-logo--cucute {
  display: flex;
  list-style: none;
  background-color: #6199af;
  padding: 10px;
  width: 60px;
  margin: 0 2px;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.main-logo--cucute:hover {
  height: 130px;
  align-items: flex-end;
}

.main-logo--cucute-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo--mumuchu {
  display: flex;
  list-style: none;
  background-color: #f6b436;
  padding: 10px;
  width: 60px;
  margin: 0 2px;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.main-logo--mumuchu:hover {
  height: 130px;
  align-items: flex-end;
}

.main-logo--mumuchu-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__icons {
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: 50px;
}

.fa-user-plus,
.fa-shopping-cart {
  font-size: 24px;
  margin: 0 15px;
}

.user-login {
  font-size: 14px;
  display: none;
}

.fa-bars {
  color: #ff5959;
  font-size: 24px;
  margin: 0 30px;
}

.social-media,
.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-pinterest-p,
.fa-youtube {
  margin: 0 5px;
  font-size: 21px;
  display: none;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-pinterest-p:hover,
.fa-youtube:hover {
  color: #ff5959;
}

.fa-search {
  background-color: #bbb8b6;
  color: #fff;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-creative-commons-zero {
  background-color: #ff5959;
  color: #fff;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End CSS for Navbar */

/* Start CSS for Main */

main {
  background-color: #f8f8f8;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 15px 30px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.category-1,
.category-2,
.category-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 400px;
  height: 150px;
  background-color: grey;
}

.button-more {
  display: flex;
  justify-content: center;
  align-self: center;
}

.button-more-active {
  color: #fff;
  background-color: #ff5959;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

/* End CSS for Main */

/* Start CSS for Ecommerce Details section */

.ecommerce-details--wrap {
  display: flex;
  flex-direction: column;
}

.ecommerce-details {
  background-color: #e8e6e5;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.delivery,
.time,
.return,
.credit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #67625f;
  font-size: 3em;
  padding: 10px;
}

.delivery:hover,
.time:hover,
.return:hover,
.credit-card:hover {
  color: #ff5959;
}

.ecommerce__title {
  font-size: 15px;
  margin: 20px 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.ecommerce__text {
  font-size: 12px;
  margin: 5px;
  text-transform: uppercase;
  text-align: center;
}

/* End CSS for Ecommerce Details section */

/* Start CSS for social footer section */

.follow-us-header,
.newsletter-signup-header {
  font-weight: 400;
  font-size: 14px;
  color: #67625f;
}

.follow-us {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  padding: 30px;
}

.follow-us--icons {
  color: #ff5959;
  padding: 0 100px 30px;
  border-bottom: 1px solid #bbb8b6;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram-square,
.fa-pinterest-square,
.fa-youtube-square {
  margin: 0 5px;
  font-size: 27px;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram-square:hover,
.fa-pinterest-square:hover,
.fa-youtube-square:hover {
  color: #bbb8b6;
}

/* End CSS for social footer section */

/* Start CSS for newsletter footer section */

.newsletter-signup {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  padding: 30px;
}

input[type="text"] {
  height: 35px;
  width: 300px;
  margin: 10px;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #67625f;
}

button[type="submit"] {
  height: 35px;
  padding: 0 20px;
  background-color: #ff5959;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

button[type="submit"]::after {
  content: " >";
}

/* End CSS for newsletter footer section */

@media (min-width: 600px) {
  .main-logo__horizontal {
    display: flex;
  }

  .user-login {
    display: block;
  }

  .fa-bars {
    display: none;
  }

  .social-media,
  .fa-facebook-f,
  .fa-twitter,
  .fa-instagram,
  .fa-pinterest-p,
  .fa-youtube {
    display: inline-flex;
  }

  .ecommerce-details--wrap {
    display: flex;
    flex-direction: row;
  }
}
